.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
.port-logo{
    font-size: 25px;
}
.nav-menu{
     display: flex;
     align-items: center;
     list-style: none;
     gap:65px;
     font-size:20px;
}
.nav-connect{
    padding: 20px 40px;
    border-radius: 55px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(119, 62, 62, 0.852));
    font-size: 21px;
    cursor: pointer;
    transition: 0.6s;
}
.nav-connect:hover{
    transform: scale(1.05);
}