.footer{
    display: flex;
    margin:50px 170px;
    flex-direction: column;
    gap:30px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
}

.footer-top-left p{
    font-size:20px;
    max-width: 400px;
}

.footer-top-right{
    display: flex;
    align-items: center;
    gap: 35px;
}

.footer-enter{
    font-size: 20px;
    padding: 12px 50px;
    border-radius: 50px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(119, 62, 62, 0.852));
   cursor: pointer;
   transition: 0.3s;
}

.footer-enter:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.footer-bootom{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.footer-bootom-right{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

/* Responsive------------------------------------------------------- */

@media (max-width:768px){
    .footer{
        margin:50px 70px;
    }
    .footer-top{
        flex-direction: column;
        gap:50px;
    }
    .footer-bootom{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
}